
<br><br><br>
<h1 style="color: darkmagenta;">New Arrivals</h1>


<div class="row">
  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let arri of arrivals">
    

<div class="product-card" >
  <img style="height: 300px;" src="{{ arri.image }}" alt="Midnight Cheers">
  <h3 class="product-name">{{arri.description}}</h3>
  <p class="product-price">{{arri.price | currency:'INR' }}</p>
  <div class="product-rating">
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="reviews">(230)</span>
  </div>
  <div  class="container">
    <!-- <button class="wishlist-btn"> add to cart &#9825;</button> -->
    <button type="button" class="button-left btn btn-primary btn-lg btn-block" (click)="addToCart(arri)">Add to Cart</button>
    <!-- <a href="https://rzp.io/l/kY1fHB0" ><button type="button" class="button-right btn btn-primary btn-lg btn-block" >Buy Now</button></a> -->
    <app-buynowbutton [paymentLink]="'https://rzp.io/l/kY1fHB0'"></app-buynowbutton>
    
   </div>
</div>
  </div>
</div>

