
<div>
    <img src="assets\img2.webp" class="card-img-top" alt="SameDay Image" (click)="navigateToSameDay()" >
</div>


      <br>
      <div>
        <h2 class="collectionHead" style="align-items: center;">.    Curated Collection</h2>
        <p style="color: darkgray;">. Use the language of flowers to send your love</p>
           
        <div class="row">
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
          
            <img src="{{ curatedCollections[0].image }}" class="card-img-top" alt="Birthday Image" (click)="navigateToBirthday()">
          
            <h3 class="card-title">{{ curatedCollections[0].name}}</h3>

          </div>

         </div>
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ curatedCollections[1].image }}" class="card-img-top" alt="Parties Image" (click)="navigateToParties()">
            <h3 class="card-title">{{ curatedCollections[1].name}}</h3>


          </div>

         </div>
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ curatedCollections[2].image }}" class="card-img-top" alt="Aniversary Image" (click)="navigateToAniversary()">
            <h3 class="card-title">{{ curatedCollections[2].name}}</h3>

          </div>

         </div>
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ curatedCollections[3].image }}" class="card-img-top" alt="Wedding Image" (click)="navigateToWedding()">
            <h3 class="card-title">{{ curatedCollections[3].name}}</h3>

          </div>

         </div>
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ curatedCollections[4].image }}" class="card-img-top" alt="gift Image" (click)="navigateToGiftHamper()">
            <h3 class="card-title">{{ curatedCollections[4].name}}</h3>

          </div>

         </div>
         <div class="col-6 col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="{{ curatedCollections[5].image }}" class="card-img-top" alt="arrivals Image" (click)="navigateToNewArrivals()">
            <h3 class="card-title">{{ curatedCollections[5].name}}</h3>

          </div>

         </div>

        </div>
      </div>




      <div>
        <img src="assets/blossom.jpg" class="card-img-top" alt="SameDay Image" (click)="navigateToSameDay()" >
    </div>
   
<app-image-slider></app-image-slider>
<app-customer-stories></app-customer-stories>
<router-outlet></router-outlet>
