<br><br><br>
<h1 style="color: darkmagenta;">Aniversary Flowers</h1>


<div class="row">
  <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12" *ngFor="let ani of aniversary">
    

<div class="product-card" >
  <img src="{{ ani.image }}" alt="Midnight Cheers">
  <h3 class="product-name">{{ ani.description}}</h3>
  <p class="product-price">{{ani.price | currency:'INR' }}</p>
  <div class="product-rating">
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="reviews">(230)</span>
  </div>
  <div  class="container">
    <!-- <button class="wishlist-btn"> add to cart &#9825;</button> -->
    <button type="button" class="button-left btn btn-primary btn-lg btn-block" (click)="addToCart(ani)">Add to Cart</button>
    <!-- <a href="https://rzp.io/l/MpQfooh8ps"><button type="button" class="button-right btn btn-primary btn-lg btn-block">Buy Now</button></a> -->
    <app-buynowbutton [paymentLink]="'https://rzp.io/l/MpQfooh8ps'"></app-buynowbutton>
    
   </div>
</div>
  </div>
</div>

